body{
    background-image: url("banner.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center top;
    background-size: cover; /* Resize the background image to cover the entire container */

}
#weblap{
    margin-top: 100px;
    margin-left: 40%;
    font-family: 'Roboto', sans-serif;
}

.kepek{
    width: 10%;
    height: 10%;
    float: left;
    border: 100px;
    border-color: white;
}
